// -----------------------------------------------------------------------------
// This file contains all styles related to the code component.
// -----------------------------------------------------------------------------
.code {
  display: block;
  font-family: "ubuntu-mono", monospace;
  font-size: 15px;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  padding: 15px;
  border-left: 10px solid $ubuntu-purple;

  &--solid {
    color: white;
    background-color: $ubuntu-purple-dark;
    border-left: none;
  }
}
