// -----------------------------------------------------------------------------
// This file contains all styles related to the global issues section.
// -----------------------------------------------------------------------------

.global-issues {
  display: grid;
  grid-template-columns: 5fr 5fr;
  column-gap: 50px;

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
  }

  .unsupported-features,
  .unimplemented-features {
    column-count: 2;

    li {
      list-style: square inside;
      padding: 3px;
      break-inside: avoid;
    }

    @media (max-width: 1299.98px) {
      column-count: 1;
    }

    @media (max-width: 991.98px) {
      column-count: 2;
    }

    @media (max-width: 575.98px) {
      column-count: 1;
    }
  }
}
