---
import ThemedImage from "@components/ThemedImage.astro";
import DarkMode from "@components/DarkMode.astro";

// All images
import ubuntuTouchLogoDarkImg from "@assets/img/ubuntu-touch-logo-dark.svg";
import ubuntuTouchLogoLightImg from "@assets/img/ubuntu-touch-logo.svg";
import angleIconImg from "@assets/img/symbols/angle-icon.svg";
import hamburgerIconImg from "@assets/img/symbols/hamburger.svg";
---

<!-- Header -->
<header class="header d-print-none">
  <div class="container">
    <!-- Logo -->
    <div class="header-logo">
      <a href="/">
        <ThemedImage
          lightSrc={ubuntuTouchLogoLightImg.src}
          darkSrc={ubuntuTouchLogoDarkImg.src}
          alt="ubuntu-touch-logo"
        />
      </a>
    </div>

    <!-- Nav -->
    <div class="header-nav">
      <div class="container">
        <div id="headerNav" class="collapse fade">
          <!-- Open Store -->
          <div class="header-dropdown">
            <a class="header-dropdown-toggler" href="https://open-store.io/">
              Open Store
              <img
                class="dark-invert-40 angle-icon d-lg-none"
                src={angleIconImg.src}
                alt="angle-icon"
              />
            </a>
          </div>

          <!-- About Ubuntu Touch -->
          <div class="header-dropdown">
            <a class="header-dropdown-toggler" href="https://ubuntu-touch.io/">
              About Ubuntu Touch
              <img
                class="dark-invert-40 angle-icon d-lg-none"
                src={angleIconImg.src}
                alt="angle-icon"
              />
            </a>
          </div>

          <!-- UBports Foundation -->
          <div class="header-dropdown">
            <a class="header-dropdown-toggler" href="https://ubports.com/">
              UBports Foundation
              <img
                class="dark-invert-40 angle-icon d-lg-none"
                src={angleIconImg.src}
                alt="angle-icon"
              />
            </a>
          </div>

          <!-- Donate -->
          <div class="header-dropdown">
            <a
              class="header-dropdown-toggler"
              href="https://ubports.com/donate"
            >
              Donate
              <img
                class="dark-invert-40 angle-icon d-lg-none"
                src={angleIconImg.src}
                alt="angle-icon"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Hamburger -->
    <div class="header-hamburger">
      <a id="toggle-headerNav">
        <img
          src={hamburgerIconImg.src}
          class="dark-invert-40"
          alt="hamburger-icon"
        />
      </a>
    </div>
    <DarkMode />
  </div>
</header>
